.style {
    color: whitesmoke;
    text-align: center;
}

.content {
    margin: auto;
    border: 1px solid whitesmoke;
    padding: 10px;
    width: 400px;
    height: 400px;
    text-align: justify;
}
.content a {
    color: #7e9ff8;
}

.menu {
    margin-top: 35px;
    margin-bottom: 10px;
}

.menu a {
    color: #7e9ff8;
    text-decoration: none;
}

a:hover {
    color: #a282ee;
}