.about-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1.6rem;
    margin-bottom: 2rem;
}

.about-text-box {
    margin: auto;
    width: 80%;
}

.intro-text {
    border: 2px solid #e4865b;
    padding: 15px;
    border-radius: 5px;
}

.tech-text {
    border: 2px solid #8fccff;
    padding: 15px;
    border-radius: 5px;
}

/* Breakpoint for making it look not shit on phone */
@media (max-width: 1160px) {

}